*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{

    background-color:#FF99E5;
    background-image:
    radial-gradient(at 13% 42%, hsla(222,95%,78%,1) 0px, transparent 50%),
    radial-gradient(at 62% 5%, hsla(4,92%,68%,1) 0px, transparent 50%),
    radial-gradient(at 25% 76%, hsla(154,84%,78%,1) 0px, transparent 50%),
    radial-gradient(at 10% 11%, hsla(117,62%,66%,1) 0px, transparent 50%),
    radial-gradient(at 10% 5%, hsla(310,97%,75%,1) 0px, transparent 50%),
    radial-gradient(at 29% 14%, hsla(79,63%,63%,1) 0px, transparent 50%),
    radial-gradient(at 63% 6%, hsla(141,93%,67%,1) 0px, transparent 50%);  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    width: 100%;
}





.blur-button{
    
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);    
    /* background: #FFFFFF; */
    color: #000000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* filter: blur(2px); */
    
    
    height: 300px;
    width: 200px;
}
